.bg {
    position: absolute;
    bottom: 1%;
    right: 450px;
  }
.logo{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1%;
}
.menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 1%;
  }